* {
	margin: 0px;
	padding: 0px;
	text-align: center;/* para que que centrado  las letras q se va autilizar */
}
html {
	scroll-behavior: smooth;
}
body {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer; /* aqui sale el dedito  */
}
header {
	display: flex;
	/* justify-content: space-between; */
	background-color: #323256;
}
.logo img {
	height: 60%;
}

.one {
	display: flex;
	padding-left: 5%;

	/* 	justify-content: space-around; */
	/* justify-content: space-evenly; */
	/* justify-content: space-around; */
	/* margin: 10px 10px 10px 10px; */
}
.one a {
	padding: 10px 10px 10px 20px;
	margin: 2px 2px 2px 40px; /* donde dic3 vuelo se aleja mas */
	text-decoration: none;
	color: #fff;
}
a:hover {
	color: aqua;
}

.divOpcionSeparador {
	height: 4px;
	width: 50px;
	background-color: #fff;
	padding-top: -10px;
}

.busca {
	display: flex;
	padding-left: 5%;
	color: #fff;
	background-color: #323256;
	margin-bottom: -36px;
}

.ida {
	/* 	padding-top: 10px;
	padding-right:73%; */
	display: flex;
	padding-left: 2%;
	color: #fff;
	background-color: #323256;
}

.ida span {
	margin: 1%;
	width: 50%;
	margin-top: 7%;
}

.corazon {
	background-color: #323256;
	width: 100%;
	float: left;
	padding-left: 45%;
}

/* .corazon {

margin: 10px 100px 10px 500px;
background-color: green;
float: right;
width: -10%;

} 

 */

/* display */
.cuadro {
	background-color: #323256;
	margin-top: -1%;
}

.cuadrobl {
	/* 	width: 200px;
	height: 200px
	font-size: 20px;
	line-height: 200px;
/* 	font-weight: bold;
/* 	color: #fff;
	background-color: blue; */
/* 	text-align: center; */
	display: inline;
	padding: 3%;
}

.container1 {
	background-color: rgb(240, 240, 240);
}

.letra1 {
	padding-top: 2%;
	color: black;
	padding-bottom: 1%;
	font-weight: 20%;
}

.iconos {
	display: grid;
	grid-template-columns: repeat(4, 1fr 1fr 1fr 1fr);
	/* 	background-color: rgb(240, 240, 240); */
	padding-left: 20%;
	font-size: 10px;
}

.dos {
	display: flex;
	color: #323256;
	padding-bottom: 1%;
	padding-top: 3%;
	padding-left: 4%;
}
.letra2 {
	font-weight: 20%;
	color: black;
}

.iconos2 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* 	background-color: rgb(240, 240, 240); */
	padding: 1%;
}

.iconos2 :hover {
	/* 	color: #323256; */
	text-decoration: none;
	color: blueviolet;
}

.icono {
	margin-bottom: -1px;
}

.texto {
	border: solid 1px #fff;
	margin-left: 38px;
	padding-top: 5px;
	padding-bottom: 15px;
	margin-right: 36px;
	margin-bottom: 18px;
	border-radius: 1%;
	background-color: #fff;
	text-align: start;
}

.texto a {
	text-decoration: none;
	font-size: 70%;
}

footer {
	display: grid;
	background-color: #323256;
	grid-template-columns: repeat(5, 1fr);
	color: #fff;
	font-size: 80%;
}
footer .columnas {
	padding: 40px 5px 20px 5px;
}

.columnas div:hover {
	color: aqua;
}
